@import "components/buttons";

.nav-logo {
  display: inline-block;
  height: 60px;
  width: 50%;
  padding: 1em 1em .5em;
}

.logo {
  display: inline-block;
  background: url(../../img/logo.svg) no-repeat;
  width: 240px;
  height: 100%;
  background-size: 240px 40px;
}
