@import "utils/variables";
@import "utils/mixins";
//navbar btn
.nav-btn {
  display: inline-block;
  height: 40px;
  width: 23px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  margin: 33px 23px 0;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: $green-color;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 6px;
  }
  span:nth-child(3){
    top: 12px;
  }
  &.click span:nth-child(1) {
    top: 6px;
    transform: rotate(135deg);
  }
  &.click span:nth-child(2) {
    opacity: 0;
    left: -24px;
  }
  &.click span:nth-child(3) {
    top: 6px;
    transform: rotate(-135deg);
  }
}

//form btn
.form .btn {
  padding: 1.3em;
  border-radius: 6px;
  background-color: $white-color;
  color: $green-color;
  margin-left: 1em;
  font-weight: bold;
  outline: 0;
  transition: .25s ease-in-out;
  &:focus,
  &:active,
  &:visited {
    outline: 0;
  }
  &:hover {
    background-color: $dark-green-color;
    color: $white-color;
    border: 1px solid $dark-green-color;
  }
}
