@mixin centerContent($width, $marginTop: 0, $marginBottom: 0) {
  width: $width;
  margin: $marginTop auto $marginBottom;
}

@mixin padding($top, $right, $bottom, $left) {
  padding: $top $right $bottom $left;
}
