//import imaprtials
@import "base/typography";

// COLORS
$green-color: #0db14b;
$gray-color: #f4f4f4;
$white-color: #fff;

//DARKER COLORS
$dark-green-color: darken($green-color, 5%);



// FONT FAMILIES
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
//font size
$font-size: 14px;
